@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f65799;
  --foreground: #52021f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f37aa4;
    --foreground: #9e0447;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
